body {
    font-family: 'Nexafont';
    background-image: url('img/planodefundo.png');
    background-color: #f4f4f4b6;
    margin: 0;
    padding: 0;
}

#container1 {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fffffff8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #008cff 5px 5px;
}

#container2 {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fffffff8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #008cff -5px 5px;
}

#title-projetos{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'NexaFont';
    font-size: 35px;
}

#texts{
    margin-top: 15px;
}

#primeiro-link, #segundo-link, #terceiro-link, #quarto-link, #sexto-link {
    text-align: center;
    background: linear-gradient(40deg, rgb(89, 133, 199), rgb(7, 27, 58));
    color: white;
    margin-top: 10px;
    border: 2px solid #008cff;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(7, 27, 58, 0.438);
    font-family: 'Nexafont';
    font-size: 18px;
}

#links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#text-div{
    text-align: center;
    margin-top: 15px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card:hover {
    box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.2);
}

#ver-mais{
    text-align: center;
    margin-top: 25px;
}

#ver-mais a {
  color: #33a3ff;
}

#voltar-inicio{
    text-align: center;
    background-color: #008cff;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
    box-shadow: rgba(3, 101, 214, 0.664) 0px 0px 0px 3px;
}

#voltar-inicio a{
    color: aliceblue;
}


@font-face {
    font-family: "font-h1";
    src: url(font/coolvetica\ rg\ it.otf);
}

@font-face {
    font-family: "font-links";
    src: url(font/LEMONMILK-MediumItalic.otf);
}

@font-face {
    font-family: 'Nexafont';
    src: url(font/Nexa-ExtraLight.ttf) format('truetype');
}

@media screen and (max-width: 500px) { 
    .container {
        width: 90%;
    }
    #voltar-inicio {
        width: 50%;
        margin-left: 25%;
    }
}
